# Node.js
**/node_modules/
**/.next/
**/out/
**/build/
**/.vercel/
frontend/.env*
frontend/public/uploads/*

# Python
**/venv/
**/.venv/
**/__pycache__/
*.py[cod]
*$py.class
backend/db.sqlite3
backend/media/
backend/staticfiles/
backend/local_settings.py

# OS and IDEs
.DS_Store
.vscode/
.idea/
*.swp
*.bak

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
